body 
{
    height: 92vh;
    width: 100%;
    background-color: black;
    color: white;
}
div
{
    display: flex;
    flex: 1;
    align-content: center;
}
p
{
    margin: auto;
    font-size: 16px;
    font-size: 4vw;
}
.row
{
    flex: auto;
    flex-direction: row;
}
.button
{
    flex: 1;
    flex-grow: 1;
    background-color: teal;
    border-style: outset;
    border-color: black;
}
.small
{
    flex-grow: .5;
}
#calculator
{
    height: 90vh;
    width: 90vh;
    margin: auto auto auto auto;
    flex-direction: column;
    background-color: white;
}
#mainDisplay
{
    border-color: black;
    border-style: groove;
    float:right;
    text-align: right;
    padding-right: 5px;
}
#historyDisplay
{
    flex-grow: .25;
    background-color: rgb(150, 150, 150);
    padding-right: 5px;
}
#mainDisplayText
{
    color: black;
    font-size: xx-large;
    margin: 0 0 0 auto;
    font-size: 16px;
    font-size: 6vw;
}
#historyDisplayText
{
    color: black;
    font-size: medium;
    margin: 0 0 0 auto;
}